In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data/dirty_cafe_sales.csv")

In [4]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [6]:
df.shape

(10000, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

In [9]:
# Rename the columns dynamically
columns_to_rename = df.columns.to_list()
columns_to_rename_dict = {}

for column in columns_to_rename:
    columns_to_rename_dict[column] = column.lower().replace(" ", "_")

df = df.rename(columns = columns_to_rename_dict)

In [10]:
df.head()

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [13]:
# Transaction ID
list(df['transaction_id'].unique())

['TXN_1961373',
 'TXN_4977031',
 'TXN_4271903',
 'TXN_7034554',
 'TXN_3160411',
 'TXN_2602893',
 'TXN_4433211',
 'TXN_6699534',
 'TXN_4717867',
 'TXN_2064365',
 'TXN_2548360',
 'TXN_3051279',
 'TXN_7619095',
 'TXN_9437049',
 'TXN_8915701',
 'TXN_2847255',
 'TXN_3765707',
 'TXN_6769710',
 'TXN_8876618',
 'TXN_3709394',
 'TXN_3522028',
 'TXN_3567645',
 'TXN_5132361',
 'TXN_2616390',
 'TXN_9400181',
 'TXN_7958992',
 'TXN_5183041',
 'TXN_5695074',
 'TXN_8467949',
 'TXN_7640952',
 'TXN_1736287',
 'TXN_8927252',
 'TXN_9677376',
 'TXN_7710508',
 'TXN_8853997',
 'TXN_9130559',
 'TXN_6855453',
 'TXN_1080432',
 'TXN_2655815',
 'TXN_6688524',
 'TXN_2083138',
 'TXN_2427584',
 'TXN_6650263',
 'TXN_9620080',
 'TXN_1491578',
 'TXN_5455792',
 'TXN_8078640',
 'TXN_9499313',
 'TXN_8201146',
 'TXN_8230936',
 'TXN_7742742',
 'TXN_6342161',
 'TXN_8914892',
 'TXN_3363746',
 'TXN_8614868',
 'TXN_5522862',
 'TXN_3578141',
 'TXN_2080895',
 'TXN_6421134',
 'TXN_8813311',
 'TXN_9023317',
 'TXN_8051289',
 'TXN_2537617',
 'TXN_9099694',
 'TXN_9230615',
 'TXN_4987129',
 'TXN_8501819',
 'TXN_3068204',
 'TXN_8427104',
 'TXN_8471743',
 'TXN_2621580',
 'TXN_4726376',
 'TXN_6044979',
 'TXN_4238417',
 'TXN_1900620',
 'TXN_6420335',
 'TXN_3858209',
 'TXN_2091733',
 'TXN_8735480',
 'TXN_3829165',
 'TXN_3748616',
 'TXN_1993289',
 'TXN_2123367',
 'TXN_5266394',
 'TXN_5107946',
 'TXN_8035512',
 'TXN_8718498',
 'TXN_3955361',
 'TXN_9487821',
 'TXN_4132730',
 'TXN_8976658',
 'TXN_5455936',
 'TXN_2725602',
 'TXN_3011323',
 'TXN_6289610',
 'TXN_8268061',
 'TXN_5220895',
 'TXN_3085509',
 'TXN_9999113',
 'TXN_8779771',
 'TXN_9517146',
 'TXN_1621920',
 'TXN_3808639',
 'TXN_7028009',
 'TXN_7447872',
 'TXN_6955416',
 'TXN_3775339',
 'TXN_9547091',
 'TXN_4358673',
 'TXN_4174591',
 'TXN_3398520',
 'TXN_6171384',
 'TXN_2530938',
 'TXN_3314971',
 'TXN_3092382',
 'TXN_1001832',
 'TXN_1535311',
 'TXN_2148617',
 'TXN_4633784',
 'TXN_4368416',
 'TXN_9790731',
 'TXN_9339456',
 'TXN_5179020',
 'TXN_6258471',
 'TXN_7945375',
 'TXN_4685453',
 'TXN_9646452',
 'TXN_9096052',
 'TXN_5916991',
 'TXN_3407169',
 'TXN_2277042',
 'TXN_9273729',
 'TXN_2181545',
 'TXN_1150033',
 'TXN_1443912',
 'TXN_8700451',
 'TXN_6380550',
 'TXN_4885518',
 'TXN_3972167',
 'TXN_4878378',
 'TXN_2484241',
 'TXN_2368126',
 'TXN_7943008',
 'TXN_8495063',
 'TXN_4811133',
 'TXN_8729570',
 'TXN_7623634',
 'TXN_9336980',
 'TXN_3424331',
 'TXN_5072031',
 'TXN_8687151',
 'TXN_4031509',
 'TXN_5265095',
 'TXN_6541415',
 'TXN_4108138',
 'TXN_1909796',
 'TXN_1928241',
 'TXN_4283157',
 'TXN_8013032',
 'TXN_8301424',
 'TXN_1093800',
 'TXN_7965998',
 'TXN_9238666',
 'TXN_1631695',
 'TXN_1435086',
 'TXN_3226832',
 'TXN_1648671',
 'TXN_4062737',
 'TXN_3494565',
 'TXN_9249507',
 'TXN_4689500',
 'TXN_8989148',
 'TXN_8316826',
 'TXN_9836934',
 'TXN_8005489',
 'TXN_6463132',
 'TXN_3925836',
 'TXN_1896955',
 'TXN_5075974',
 'TXN_3978874',
 'TXN_8955912',
 'TXN_1136554',
 'TXN_8007337',
 'TXN_8129834',
 'TXN_3831848',
 'TXN_5365809',
 'TXN_8166407',
 'TXN_6629480',
 'TXN_3833797',
 'TXN_2643815',
 'TXN_2996519',
 'TXN_8810894',
 'TXN_7412722',
 'TXN_3937509',
 'TXN_6000201',
 'TXN_1714274',
 'TXN_3800182',
 'TXN_5115080',
 'TXN_9788956',
 'TXN_6311602',
 'TXN_2950680',
 'TXN_6749847',
 'TXN_2143187',
 'TXN_8964522',
 'TXN_4088917',
 'TXN_3779366',
 'TXN_7724048',
 'TXN_2698591',
 'TXN_3171373',
 'TXN_4129248',
 'TXN_6498163',
 'TXN_6717827',
 'TXN_9089898',
 'TXN_8587583',
 'TXN_8693704',
 'TXN_3857960',
 'TXN_3499124',
 'TXN_9250710',
 'TXN_7058377',
 'TXN_6766492',
 'TXN_9879996',
 'TXN_4291940',
 'TXN_7433461',
 'TXN_4068262',
 'TXN_5761073',
 'TXN_5047447',
 'TXN_6623508',
 'TXN_2651216',
 'TXN_9350833',
 'TXN_8377564',
 'TXN_7031118',
 'TXN_2230167',
 'TXN_6446616',
 'TXN_1721827',
 'TXN_6334895',
 'TXN_7077119',
 'TXN_8562645',
 'TXN_4700144',
 'TXN_5526852',
 'TXN_6846228',
 'TXN_8570890',
 'TXN_3205009',
 'TXN_3786188',
 'TXN_4530804',
 'TXN_9642066',
 'TXN_7328294',
 'TXN_1908636',
 'TXN_9238066',
 'TXN_5415901',
 'TXN_6714420',
 'TXN_6616971',
 'TXN_7803615',
 'TXN_7549542',
 'TXN_3544789',
 'TXN_1583597',
 'TXN_8472308',
 'TXN_1967565',
 'TXN_2029497',
 'TXN_8929774',
 'TXN_5003018',
 'TXN_7852990',
 'TXN_2534066',
 'TXN_2059647',
 'TXN_2485183',
 'TXN_7374846',
 'TXN_9401522',
 'TXN_8250651',
 'TXN_7191245',
 'TXN_8982764',
 'TXN_8669422',
 'TXN_1153869',
 'TXN_5043774',
 'TXN_1746320',
 'TXN_1077129',
 'TXN_4865338',
 'TXN_5616583',
 'TXN_2078474',
 'TXN_2130245',
 'TXN_3229409',
 'TXN_9076216',
 'TXN_6371987',
 'TXN_9913877',
 'TXN_2084377',
 'TXN_1842675',
 'TXN_8605813',
 'TXN_9755352',
 'TXN_7550498',
 'TXN_2305908',
 'TXN_6953697',
 'TXN_3495950',
 'TXN_7557340',
 'TXN_1157817',
 'TXN_2020318',
 'TXN_8692094',
 'TXN_5307411',
 'TXN_9703120',
 'TXN_1289133',
 'TXN_2031459',
 'TXN_1333682',
 'TXN_2256622',
 'TXN_1623966',
 'TXN_4912930',
 'TXN_4942692',
 'TXN_3723007',
 'TXN_7922392',
 'TXN_7498727',
 'TXN_1222338',
 'TXN_6878866',
 'TXN_1260335',
 'TXN_9223242',
 'TXN_6244211',
 'TXN_5446858',
 'TXN_4612864',
 'TXN_5411381',
 'TXN_3047598',
 'TXN_5754317',
 'TXN_7496926',
 'TXN_1726858',
 'TXN_7559388',
 'TXN_8540499',
 'TXN_4225756',
 'TXN_6795640',
 'TXN_6702428',
 'TXN_8955259',
 'TXN_4639319',
 'TXN_5997803',
 'TXN_1340956',
 'TXN_1259671',
 'TXN_8319993',
 'TXN_8894157',
 'TXN_5523450',
 'TXN_7838964',
 'TXN_2773987',
 'TXN_1158829',
 'TXN_2523298',
 'TXN_8685737',
 'TXN_5634135',
 'TXN_1524626',
 'TXN_7275407',
 'TXN_2889622',
 'TXN_6849113',
 'TXN_2265316',
 'TXN_9472241',
 'TXN_7345414',
 'TXN_4473352',
 'TXN_2814363',
 'TXN_1846004',
 'TXN_7140471',
 'TXN_3119542',
 'TXN_7773968',
 'TXN_9081088',
 'TXN_8559167',
 'TXN_1130191',
 'TXN_5215451',
 'TXN_1040764',
 'TXN_5457133',
 'TXN_8365478',
 'TXN_2100697',
 'TXN_7676968',
 'TXN_5726998',
 'TXN_4134594',
 'TXN_5079340',
 'TXN_8276635',
 'TXN_1380601',
 'TXN_3959152',
 'TXN_7776739',
 'TXN_7569615',
 'TXN_8703771',
 'TXN_2052395',
 'TXN_9421441',
 'TXN_9065402',
 'TXN_3638955',
 'TXN_2635532',
 'TXN_8256593',
 'TXN_9271457',
 'TXN_5392603',
 'TXN_6319728',
 'TXN_9263299',
 'TXN_2301505',
 'TXN_5895177',
 'TXN_8751516',
 'TXN_8147357',
 'TXN_1436343',
 'TXN_2214698',
 'TXN_7480234',
 'TXN_3283097',
 'TXN_2633602',
 'TXN_3093219',
 'TXN_3515730',
 'TXN_3665733',
 'TXN_4010658',
 'TXN_1454467',
 'TXN_2598728',
 'TXN_3390285',
 'TXN_8224079',
 'TXN_1916339',
 'TXN_8611035',
 'TXN_3595735',
 'TXN_4884822',
 'TXN_3668051',
 'TXN_6169633',
 'TXN_3884811',
 'TXN_7050740',
 'TXN_1234097',
 'TXN_4518102',
 'TXN_5939055',
 'TXN_7809183',
 'TXN_6071202',
 'TXN_8158496',
 'TXN_2726848',
 'TXN_3666858',
 'TXN_5499915',
 'TXN_4660753',
 'TXN_8089522',
 'TXN_1564754',
 'TXN_1824506',
 'TXN_3229758',
 'TXN_3677592',
 'TXN_1002457',
 'TXN_8056263',
 'TXN_4732351',
 'TXN_8049191',
 'TXN_4980036',
 'TXN_3022839',
 'TXN_7701070',
 'TXN_8048037',
 'TXN_4619029',
 'TXN_4444463',
 'TXN_1887522',
 'TXN_6908953',
 'TXN_4759769',
 'TXN_2254479',
 'TXN_7555408',
 'TXN_6857943',
 'TXN_4796350',
 'TXN_9552845',
 'TXN_6769465',
 'TXN_7438831',
 'TXN_3871837',
 'TXN_3656762',
 'TXN_4980282',
 'TXN_3580786',
 'TXN_4355728',
 'TXN_2508476',
 'TXN_1325631',
 'TXN_8209125',
 'TXN_1751164',
 'TXN_3730415',
 'TXN_4134253',
 'TXN_3256497',
 'TXN_8763180',
 'TXN_3219175',
 'TXN_6234872',
 'TXN_7919440',
 'TXN_7558641',
 'TXN_9940220',
 'TXN_8805984',
 'TXN_2130483',
 'TXN_1972584',
 'TXN_3150792',
 'TXN_2980008',
 'TXN_5511805',
 'TXN_7292548',
 'TXN_2169664',
 'TXN_3234877',
 'TXN_6368719',
 'TXN_8852585',
 'TXN_9201010',
 'TXN_7817014',
 'TXN_2873990',
 'TXN_3088796',
 'TXN_3414935',
 'TXN_3607652',
 'TXN_8502094',
 'TXN_9068244',
 'TXN_2696664',
 'TXN_7661609',
 'TXN_7633490',
 'TXN_9292230',
 'TXN_1664665',
 'TXN_5081978',
 'TXN_7314409',
 'TXN_4573576',
 'TXN_5645919',
 'TXN_8006668',
 'TXN_8818168',
 'TXN_4369043',
 'TXN_3560062',
 'TXN_4769307',
 'TXN_7270652',
 'TXN_4991815',
 'TXN_6360132',
 'TXN_8199829',
 'TXN_9166449',
 'TXN_7864939',
 'TXN_2640701',
 'TXN_3740963',
 'TXN_8101633',
 'TXN_6063966',
 'TXN_3779640',
 'TXN_8278833',
 'TXN_8778598',
 'TXN_7550103',
 'TXN_3664656',
 'TXN_7296560',
 'TXN_8136881',
 'TXN_3981449',
 'TXN_5427506',
 'TXN_2641386',
 'TXN_1485417',
 'TXN_4033802',
 'TXN_7752124',
 'TXN_9762324',
 'TXN_1628509',
 'TXN_8259257',
 'TXN_4183823',
 'TXN_2239041',
 'TXN_4696439',
 'TXN_8826983',
 'TXN_8267034',
 'TXN_1959334',
 'TXN_6842808',
 'TXN_2947822',
 'TXN_5531712',
 'TXN_2148838',
 'TXN_1330506',
 'TXN_5898743',
 'TXN_8957369',
 'TXN_9340653',
 'TXN_2493446',
 'TXN_4538354',
 'TXN_7098730',
 'TXN_7533411',
 'TXN_2690314',
 'TXN_8171171',
 'TXN_3791639',
 'TXN_2968827',
 'TXN_4546375',
 'TXN_1387401',
 'TXN_6727029',
 'TXN_3917193',
 'TXN_8518516',
 'TXN_2062854',
 'TXN_4075863',
 'TXN_5624860',
 'TXN_4621665',
 'TXN_6669417',
 'TXN_7837381',
 'TXN_1725926',
 'TXN_3403173',
 'TXN_4186681',
 'TXN_4152036',
 'TXN_4059912',
 'TXN_3381656',
 'TXN_9956154',
 'TXN_7110444',
 'TXN_6250692',
 'TXN_1183995',
 'TXN_9452225',
 'TXN_9113574',
 'TXN_5813015',
 'TXN_3213035',
 'TXN_3789752',
 'TXN_7578769',
 'TXN_3515664',
 'TXN_6209258',
 'TXN_8594004',
 'TXN_6422433',
 'TXN_2865033',
 'TXN_5547519',
 'TXN_2392263',
 'TXN_3810451',
 'TXN_4669664',
 'TXN_9470612',
 'TXN_7507962',
 'TXN_1109715',
 'TXN_8320245',
 'TXN_5904646',
 'TXN_4498526',
 'TXN_2744907',
 'TXN_5209585',
 'TXN_2213556',
 'TXN_3826038',
 'TXN_7596587',
 'TXN_7380277',
 'TXN_1353479',
 'TXN_6054137',
 'TXN_7609853',
 'TXN_9266394',
 'TXN_5448157',
 'TXN_8298311',
 'TXN_6744866',
 'TXN_6152588',
 'TXN_6569656',
 'TXN_2156206',
 'TXN_3142258',
 'TXN_5739806',
 'TXN_9228978',
 'TXN_5897205',
 'TXN_1556652',
 'TXN_8608765',
 'TXN_8764825',
 'TXN_7353972',
 'TXN_1124753',
 'TXN_9410981',
 'TXN_9349962',
 'TXN_7611120',
 'TXN_2106959',
 'TXN_2237115',
 'TXN_6836137',
 'TXN_6316959',
 'TXN_2265984',
 'TXN_6352917',
 'TXN_9564123',
 'TXN_3946544',
 'TXN_1123138',
 'TXN_9212503',
 'TXN_1921262',
 'TXN_1259824',
 'TXN_6868049',
 'TXN_2806243',
 'TXN_9759896',
 'TXN_7560807',
 'TXN_3286932',
 'TXN_3481470',
 'TXN_9907327',
 'TXN_3469469',
 'TXN_2681833',
 'TXN_3179966',
 'TXN_9289174',
 'TXN_3629351',
 'TXN_3142836',
 'TXN_4998786',
 'TXN_7228816',
 'TXN_6904590',
 'TXN_2126408',
 'TXN_8664315',
 'TXN_8958593',
 'TXN_2383598',
 'TXN_2211685',
 'TXN_1503602',
 'TXN_2962976',
 'TXN_8716752',
 'TXN_4266787',
 'TXN_5933480',
 'TXN_8255965',
 'TXN_4364091',
 'TXN_9203920',
 'TXN_8964812',
 'TXN_6721531',
 'TXN_5447508',
 'TXN_5686113',
 'TXN_9239779',
 'TXN_9265319',
 'TXN_9265313',
 'TXN_3397609',
 'TXN_9347203',
 'TXN_2132186',
 'TXN_3383926',
 'TXN_6905718',
 'TXN_3130548',
 'TXN_9356512',
 'TXN_7993951',
 'TXN_6362093',
 'TXN_4876440',
 'TXN_9323513',
 'TXN_9097641',
 'TXN_1775884',
 'TXN_8536115',
 'TXN_8032010',
 'TXN_2915281',
 'TXN_3468006',
 'TXN_7604541',
 'TXN_7806146',
 'TXN_9238689',
 'TXN_2601689',
 'TXN_6428182',
 'TXN_6830557',
 'TXN_6371264',
 'TXN_4663299',
 'TXN_9236713',
 'TXN_1079239',
 'TXN_4690833',
 'TXN_7946489',
 'TXN_8661288',
 'TXN_7187207',
 'TXN_4679409',
 'TXN_2866147',
 'TXN_5637677',
 'TXN_7444541',
 'TXN_6046604',
 'TXN_6111710',
 'TXN_5476465',
 'TXN_1773873',
 'TXN_7688650',
 'TXN_4570711',
 'TXN_5242469',
 'TXN_2977414',
 'TXN_8938144',
 'TXN_6434414',
 'TXN_1655100',
 'TXN_1526864',
 'TXN_1279428',
 'TXN_9866728',
 'TXN_1706201',
 'TXN_2498488',
 'TXN_5387067',
 'TXN_4431179',
 'TXN_5051924',
 'TXN_9033890',
 'TXN_1777959',
 'TXN_3574059',
 'TXN_8386792',
 'TXN_2108894',
 'TXN_6347472',
 'TXN_8699110',
 'TXN_7188412',
 'TXN_6178152',
 'TXN_3477767',
 'TXN_8345723',
 'TXN_9989415',
 'TXN_4476634',
 'TXN_1932897',
 'TXN_2178964',
 'TXN_5213542',
 'TXN_7889745',
 'TXN_7020671',
 'TXN_8297135',
 'TXN_6581437',
 'TXN_1347965',
 'TXN_6128621',
 'TXN_5758199',
 'TXN_3145041',
 'TXN_9960577',
 'TXN_1349738',
 'TXN_4512118',
 'TXN_5763254',
 'TXN_8167279',
 'TXN_8696094',
 'TXN_8114990',
 'TXN_4961655',
 'TXN_5595352',
 'TXN_2070818',
 'TXN_1090854',
 'TXN_2004851',
 'TXN_1869814',
 'TXN_8296518',
 'TXN_6910915',
 'TXN_3183527',
 'TXN_6916047',
 'TXN_5787508',
 'TXN_2611960',
 'TXN_7923140',
 'TXN_5229169',
 'TXN_1018880',
 'TXN_4074732',
 'TXN_9409728',
 'TXN_5840223',
 'TXN_5576265',
 'TXN_7399897',
 'TXN_5098938',
 'TXN_6119823',
 'TXN_7308222',
 'TXN_5408625',
 'TXN_5969754',
 'TXN_5740553',
 'TXN_4809497',
 'TXN_2392934',
 'TXN_5728991',
 'TXN_7608816',
 'TXN_1046394',
 'TXN_3228823',
 'TXN_2269396',
 'TXN_9263967',
 'TXN_6540946',
 'TXN_2914088',
 'TXN_6571898',
 'TXN_7109358',
 'TXN_4498370',
 'TXN_4015710',
 'TXN_4600048',
 'TXN_2108486',
 'TXN_7019782',
 'TXN_5228270',
 'TXN_4387303',
 'TXN_4637016',
 'TXN_7786214',
 'TXN_9587884',
 'TXN_4625910',
 'TXN_8250731',
 'TXN_3605929',
 'TXN_4953450',
 'TXN_5315441',
 'TXN_9196322',
 'TXN_4009547',
 'TXN_3394710',
 'TXN_8354174',
 'TXN_5931292',
 'TXN_2109416',
 'TXN_8776606',
 'TXN_1063366',
 'TXN_2393500',
 'TXN_9738758',
 'TXN_7838465',
 'TXN_2447261',
 'TXN_6609947',
 'TXN_9036453',
 'TXN_2611990',
 'TXN_1460963',
 'TXN_1713128',
 'TXN_4501168',
 'TXN_2840323',
 'TXN_6691767',
 'TXN_7280191',
 'TXN_6932070',
 'TXN_3502743',
 'TXN_2815335',
 'TXN_4916272',
 'TXN_7940202',
 'TXN_5489408',
 'TXN_4640977',
 'TXN_8563346',
 'TXN_3172751',
 'TXN_7896721',
 'TXN_8973563',
 'TXN_4827371',
 'TXN_1559313',
 'TXN_7384923',
 'TXN_7906197',
 'TXN_9018535',
 'TXN_9103318',
 'TXN_8066743',
 'TXN_9658677',
 'TXN_8647575',
 'TXN_6376175',
 'TXN_9840274',
 'TXN_4912458',
 'TXN_7982985',
 'TXN_2855581',
 'TXN_7585348',
 'TXN_8249251',
 'TXN_4005014',
 'TXN_3106215',
 'TXN_4478185',
 'TXN_7815651',
 'TXN_3461209',
 'TXN_9498325',
 'TXN_1026827',
 'TXN_4479052',
 'TXN_7269513',
 'TXN_5134545',
 'TXN_7997144',
 'TXN_7315198',
 'TXN_4339682',
 'TXN_3363831',
 'TXN_5369555',
 'TXN_6208034',
 'TXN_8187656',
 'TXN_6463415',
 'TXN_1461895',
 'TXN_3197752',
 'TXN_3112175',
 'TXN_6439579',
 'TXN_4944121',
 'TXN_5590805',
 'TXN_4634772',
 'TXN_3519066',
 'TXN_8034156',
 'TXN_2163229',
 'TXN_4109764',
 'TXN_1343750',
 'TXN_6387964',
 'TXN_2743397',
 'TXN_8022689',
 'TXN_9392028',
 'TXN_3547825',
 'TXN_9101792',
 'TXN_3463928',
 'TXN_8503406',
 'TXN_1992966',
 'TXN_2179458',
 'TXN_5648512',
 'TXN_8689416',
 'TXN_1964555',
 'TXN_9402247',
 'TXN_8868960',
 'TXN_1794862',
 'TXN_5780615',
 'TXN_2416816',
 'TXN_8005682',
 'TXN_1778707',
 'TXN_9959813',
 'TXN_7675823',
 'TXN_3110343',
 'TXN_7913451',
 'TXN_1901729',
 'TXN_5934059',
 'TXN_8717428',
 'TXN_2098878',
 'TXN_9536472',
 'TXN_6696913',
 'TXN_9561832',
 'TXN_8888153',
 'TXN_3790025',
 'TXN_2820693',
 'TXN_5661147',
 'TXN_3746260',
 'TXN_7805035',
 'TXN_2058243',
 'TXN_5710748',
 'TXN_3725837',
 'TXN_5132327',
 'TXN_1575608',
 'TXN_4594922',
 'TXN_5163686',
 'TXN_5445318',
 'TXN_2391446',
 'TXN_2826603',
 'TXN_3489940',
 'TXN_2526667',
 'TXN_3760598',
 'TXN_7679707',
 'TXN_3831364',
 'TXN_5038513',
 'TXN_5007619',
 'TXN_5124870',
 'TXN_8229546',
 'TXN_3173923',
 'TXN_8460786',
 'TXN_7078232',
 'TXN_7833800',
 'TXN_9625287',
 'TXN_3135132',
 'TXN_4779440',
 'TXN_7337979',
 'TXN_1713098',
 'TXN_5325729',
 'TXN_5630457',
 'TXN_4167859',
 'TXN_4487966',
 'TXN_1122140',
 'TXN_7484682',
 'TXN_5182042',
 'TXN_4040989',
 'TXN_2190793',
 'TXN_3663712',
 'TXN_9140598',
 'TXN_5657259',
 'TXN_4316299',
 'TXN_5601300',
 'TXN_9904662',
 'TXN_3696194',
 'TXN_2964638',
 'TXN_8336656',
 'TXN_2024121',
 'TXN_6287890',
 'TXN_4712887',
 'TXN_4336892',
 'TXN_5447694',
 'TXN_2492058',
 'TXN_3439712',
 'TXN_5350401',
 'TXN_8999006',
 'TXN_8514689',
 'TXN_1866028',
 'TXN_8379141',
 'TXN_9152264',
 'TXN_2287941',
 'TXN_3794585',
 'TXN_3856427',
 'TXN_9890874',
 'TXN_3945716',
 'TXN_6254003',
 'TXN_3101575',
 'TXN_4874685',
 'TXN_6269119',
 'TXN_6024625',
 'TXN_7470910',
 'TXN_9911345',
 'TXN_1116119',
 'TXN_3471223',
 'TXN_4491072',
 'TXN_2053993',
 'TXN_9086709',
 'TXN_1646009',
 'TXN_8692653',
 'TXN_5021925',
 'TXN_1104849',
 'TXN_6358073',
 'TXN_7764154',
 'TXN_5410185',
 'TXN_5651348',
 'TXN_2178735',
 'TXN_4125165',
 'TXN_5014959',
 'TXN_8811565',
 'TXN_9868382',
 'TXN_2924611',
 'TXN_7063124',
 'TXN_2291079',
 ...]

In [16]:
df[df['transaction_id'].isna()].shape

(0, 8)

In [17]:
# Item
df['item'].value_counts()

item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
UNKNOWN      344
ERROR        292
Name: count, dtype: int64

In [19]:
df.loc[df['item'].isin(['UNKNOWN', 'ERROR']), 'item'] = np.nan

In [20]:
df['item'].value_counts()

item
Juice       1171
Coffee      1165
Salad       1148
Cake        1139
Sandwich    1131
Smoothie    1096
Cookie      1092
Tea         1089
Name: count, dtype: int64

In [22]:
# Count the number of items that are empty in item column
df[df['item'].isna()].shape

(969, 8)

In [26]:
df['quantity'].dtype

dtype('O')

In [27]:
# Throws error because there are values which are not numbers
df['quantity'] = df['quantity'].astype(int)

ValueError: invalid literal for int() with base 10: 'ERROR'

In [28]:
df['quantity'].value_counts()

quantity
5          2013
2          1974
4          1863
3          1849
1          1822
UNKNOWN     171
ERROR       170
Name: count, dtype: int64

In [29]:
# Change the values which are not numbers to NaN
df.loc[df['quantity'].isin(['UNKNWON', 'ERROR']), 'quantity'] = np.nan

In [34]:
df[df['quantity'].isna()]
df[df['item'].isna()]

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
6,TXN_4433211,NaN,3,3.0,9.0,ERROR,Takeaway,2023-10-06
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
14,TXN_8915701,NaN,2,1.5,3.0,NaN,In-store,2023-03-21
30,TXN_1736287,NaN,5,2.0,10.0,Digital Wallet,NaN,2023-06-02
31,TXN_8927252,NaN,2,1.0,ERROR,Credit Card,ERROR,2023-11-06
...,...,...,...,...,...,...,...,...
9951,TXN_4122925,NaN,4,1.0,4.0,NaN,Takeaway,2023-10-20
9958,TXN_4125474,NaN,2,5.0,10.0,Credit Card,In-store,2023-08-02
9981,TXN_4583012,NaN,5,4.0,20.0,Digital Wallet,NaN,2023-02-27
9994,TXN_7851634,NaN,4,4.0,16.0,NaN,NaN,2023-01-08
9996,TXN_9659401,NaN,3,NaN,3.0,Digital Wallet,NaN,2023-06-02

In [37]:
df[(df['item'].isna()) & (df['quantity'].isna())].shape

(41, 8)

In [38]:
df['price_per_unit'].value_counts()

price_per_unit
3.0        2429
4.0        2331
2.0        1227
5.0        1204
1.0        1143
1.5        1133
ERROR       190
UNKNOWN     164
Name: count, dtype: int64

In [41]:
df.loc[df['price_per_unit'].isin(['ERROR', 'UNKNOWN']), 'price_per_unit'] = np.nan

In [42]:
df['price_per_unit'].value_counts()

price_per_unit
3.0    2429
4.0    2331
2.0    1227
5.0    1204
1.0    1143
1.5    1133
Name: count, dtype: int64

In [43]:
df.columns

Index(['transaction_id', 'item', 'quantity', 'price_per_unit', 'total_spent',
       'payment_method', 'location', 'transaction_date'],
      dtype='object')

In [44]:
df['total_spent'].value_counts()

total_spent
6.0        979
12.0       939
3.0        930
4.0        923
20.0       746
15.0       734
8.0        677
10.0       524
2.0        497
9.0        479
5.0        468
16.0       444
25.0       259
7.5        237
1.0        232
4.5        225
1.5        205
UNKNOWN    165
ERROR      164
Name: count, dtype: int64

In [45]:
df.loc[df['total_spent'].isin(['ERROR', 'UNKNOWN']), 'total_spent'] = np.nan

In [46]:
df.columns

Index(['transaction_id', 'item', 'quantity', 'price_per_unit', 'total_spent',
       'payment_method', 'location', 'transaction_date'],
      dtype='object')

In [50]:
# Dynamic way of cleaning columns
columns_to_clean = df.columns.to_list()
for column in columns_to_clean:
    df.loc[df[column].isin(['ERROR', 'UNKNOWN']), column] = np.nan

In [51]:
df['location'].value_counts()

location
Takeaway    3022
In-store    3017
Name: count, dtype: int64

In [52]:
df.dtypes

transaction_id      object
item                object
quantity            object
price_per_unit      object
total_spent         object
payment_method      object
location            object
transaction_date    object
dtype: object

In [60]:
df['quantity'] = df['quantity'].astype('Int64') # To convert a column with NaN to integer column: use Int64
df[['price_per_unit', 'total_spent']] = df[['price_per_unit', 'total_spent']].astype(float)

In [58]:
df.dtypes

transaction_id       object
item                 object
quantity              Int64
price_per_unit      float64
total_spent         float64
payment_method       object
location             object
transaction_date     object
dtype: object

In [61]:
df.head()

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,NaN,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,NaN,NaN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [ ]:
df.loc[(df['item'] == 'Coffee') & (df['quantity'].isna()), 'quantity'] = df[df['item']=='Coffee']['quantity'].median()

In [85]:
df[df['item']=='Coffee']['quantity'].median()

3.0

In [92]:
unique_items_list = list(df[~df['item'].isna()]['item'].unique())

# Alternative Way
filter_item = ~df['item'].isna()
filtered_df = df[filter_item]
unique_items = filtered_df['item'].unique()
unique_items_list = list(unique_items)

unique_items_list

['Coffee', 'Cake', 'Cookie', 'Salad', 'Smoothie', 'Sandwich', 'Juice', 'Tea']

In [93]:
for item in unique_items_list:
    df.loc[(df['item'] == item) & (df['quantity'].isna()), 'quantity'] = df[df['item']==item]['quantity'].median()

    # Alternative Way
    filter_item = df['item'] == item & df['quantity'].isna()
    
    item_median_filter = df['item'] == item
    item_only_df = df[item_median_filter]
    item_median = item_only_df['quantity'].median()
    
    df.loc[filter_item, 'quantity'] = item_median

In [94]:
df[(df['quantity'].isna())& (~df['item'].isna())]

Empty DataFrame
Columns: [transaction_id, item, quantity, price_per_unit, total_spent, payment_method, location, transaction_date]
Index: []

In [89]:
df.groupby('item')['quantity'].median().reset_index()

       item  quantity
0      Cake       3.0
1    Coffee       3.0
2    Cookie       3.0
3     Juice       3.0
4     Salad       3.0
5  Sandwich       3.0
6  Smoothie       3.0
7       Tea       3.0

In [97]:
for item in unique_items_list:
    df.loc[(df['item'] == item) & (df['price_per_unit'].isna()), 'price_per_unit'] = df[df['item']==item]['price_per_unit'].median()

In [98]:
# Total Spent
df.loc[df['total_spent'].isna(), 'total_spent'] = df['quantity'] * df['price_per_unit']

/var/folders/7w/9vr0vf2x7zx4_f925bn5kmc80000gq/T/ipykernel_25100/2073077194.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<FloatingArray>
[ 4.0, 12.0,  2.0,  3.0, 12.0,  9.0,  3.0,  6.0,  3.0, 15.0,
 ...
  2.0,  4.0,  3.0,  6.0,  8.0,  6.0,  8.0,  6.0, 15.0,  8.0]
Length: 502, dtype: Float64' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['total_spent'].isna(), 'total_spent'] = df['quantity'] * df['price_per_unit']

In [101]:
df.loc[df['total_spent'].isna()]

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
1761,TXN_3611851,NaN,4,NaN,<NA>,Credit Card,NaN,2023-02-09
2289,TXN_7524977,NaN,4,NaN,<NA>,NaN,NaN,2023-12-09
4152,TXN_9646000,NaN,2,NaN,<NA>,NaN,In-store,2023-12-14

In [102]:
# Drop these rows
df.drop([1761, 2289, 4152], inplace=True)

In [103]:
df.loc[df['total_spent'].isna()]

Empty DataFrame
Columns: [transaction_id, item, quantity, price_per_unit, total_spent, payment_method, location, transaction_date]
Index: []

In [110]:
df.loc[df['item'] == 'Coffee']['payment_method'].mode()[0]

'Digital Wallet'

In [112]:
nan_items_index_list = df.loc[df['item'].isna()].index.to_list()

In [114]:
df.loc[df['item'].isna() & ~df['price_per_unit'].isna()]

,transaction_id,item,quantity,price_per_unit,total_spent,payment_method,location,transaction_date
6,TXN_4433211,NaN,3,3.0,9.0,NaN,Takeaway,2023-10-06
8,TXN_4717867,NaN,5,3.0,15.0,NaN,Takeaway,2023-07-28
14,TXN_8915701,NaN,2,1.5,3.0,NaN,In-store,2023-03-21
30,TXN_1736287,NaN,5,2.0,10.0,Digital Wallet,NaN,2023-06-02
31,TXN_8927252,NaN,2,1.0,2.0,Credit Card,NaN,2023-11-06
...,...,...,...,...,...,...,...,...
9946,TXN_8807600,NaN,1,4.0,4.0,Cash,Takeaway,2023-09-24
9951,TXN_4122925,NaN,4,1.0,4.0,NaN,Takeaway,2023-10-20
9958,TXN_4125474,NaN,2,5.0,10.0,Credit Card,In-store,2023-08-02
9981,TXN_4583012,NaN,5,4.0,20.0,Digital Wallet,NaN,2023-02-27
9994,TXN_7851634,NaN,4,4.0,16.0,NaN,NaN,2023-01-08

In [119]:
df[['item', 'location']].value_counts().reset_index().sort_values(by=['item'])

        item  location  count
6       Cake  Takeaway    343
13      Cake  In-store    321
4     Coffee  Takeaway    351
14    Coffee  In-store    318
2     Cookie  Takeaway    362
10    Cookie  In-store    332
3      Juice  In-store    361
8      Juice  Takeaway    341
0      Salad  In-store    371
7      Salad  Takeaway    343
1   Sandwich  In-store    370
5   Sandwich  Takeaway    345
12  Smoothie  In-store    322
15  Smoothie  Takeaway    304
9        Tea  Takeaway    336
11       Tea  In-store    328