In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("Coffe_sales.csv")

In [14]:
display(df.head())
df.tail()

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
0,10,card,38.7,Latte,Morning,Fri,Mar,5,3,2024-03-01,10:15:50.520000
1,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:19:22.539000
2,12,card,38.7,Hot Chocolate,Afternoon,Fri,Mar,5,3,2024-03-01,12:20:18.089000
3,13,card,28.9,Americano,Afternoon,Fri,Mar,5,3,2024-03-01,13:46:33.006000
4,13,card,38.7,Latte,Afternoon,Fri,Mar,5,3,2024-03-01,13:48:14.626000

,hour_of_day,cash_type,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort,Date,Time
3542,10,card,35.76,Cappuccino,Morning,Sun,Mar,7,3,2025-03-23,10:34:54.894000
3543,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:43:37.362000
3544,14,card,35.76,Cocoa,Afternoon,Sun,Mar,7,3,2025-03-23,14:44:16.864000
3545,15,card,25.96,Americano,Afternoon,Sun,Mar,7,3,2025-03-23,15:47:28.723000
3546,18,card,35.76,Latte,Night,Sun,Mar,7,3,2025-03-23,18:11:38.635000

In [6]:
df.shape

(3547, 11)

In [7]:
df.size

39017

In [17]:
df.iloc[1000:1006, 1:5]

     cash_type  money          coffee_name Time_of_Day
1000      card  32.82           Cappuccino     Morning
1001      card  27.92  Americano with Milk     Morning
1002      card  23.02              Cortado     Morning
1003      card  27.92  Americano with Milk     Morning
1004      card  32.82                Latte     Morning
1005      card  23.02            Americano     Morning

In [ ]:
# Last 40 to last 20 rows, last 3 columns

In [35]:
slice_df = df.iloc[-41:-20, -3:]
display(slice_df)
slice_df.shape

      Monthsort        Date             Time
3506          3  2025-03-20  19:36:41.600000
3507          3  2025-03-20  19:57:48.479000
3508          3  2025-03-20  21:50:15.613000
3509          3  2025-03-21  07:06:11.979000
3510          3  2025-03-21  07:09:08.106000
3511          3  2025-03-21  08:16:43.719000
3512          3  2025-03-21  08:28:36.520000
3513          3  2025-03-21  08:29:20.898000
3514          3  2025-03-21  08:35:18.996000
3515          3  2025-03-21  11:50:09.303000
3516          3  2025-03-21  11:51:07.530000
3517          3  2025-03-21  13:02:48.347000
3518          3  2025-03-21  13:23:57.002000
3519          3  2025-03-21  14:11:44.055000
3520          3  2025-03-21  15:09:03.022000
3521          3  2025-03-21  15:24:42.515000
3522          3  2025-03-21  15:28:19.564000
3523          3  2025-03-21  15:29:32.330000
3524          3  2025-03-21  17:01:28.771000
3525          3  2025-03-21  17:21:16.930000
3526          3  2025-03-21  17:22:49.875000

(21, 3)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3547 entries, 0 to 3546
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   hour_of_day  3547 non-null   int64
 1   cash_type    3547 non-null   object
 2   money        3547 non-null   float64
 3   coffee_name  3547 non-null   object
 4   Time_of_Day  3547 non-null   object
 5   Weekday      3547 non-null   object
 6   Month_name   3547 non-null   object
 7   Weekdaysort  3547 non-null   int64
 8   Monthsort    3547 non-null   int64
 9   Date         3547 non-null   object
 10  Time         3547 non-null   object
dtypes: float64(1), int64(3), object(7)
memory usage: 304.9+ KB

In [38]:
df.describe().round(2)

       hour_of_day    money  Weekdaysort  Monthsort
count      3547.00  3547.00      3547.00    3547.00
mean         14.19    31.65         3.85       6.45
std           4.23     4.88         1.97       3.50
min           6.00    18.12         1.00       1.00
25%          10.00    27.92         2.00       3.00
50%          14.00    32.82         4.00       7.00
75%          18.00    35.76         6.00      10.00
max          22.00    38.70         7.00      12.00

In [41]:
df.dtypes

hour_of_day      int64
cash_type       object
money          float64
coffee_name     object
Time_of_Day     object
Weekday         object
Month_name      object
Weekdaysort      int64
Monthsort        int64
Date            object
Time            object
dtype: object

In [43]:
df.columns.to_list()

['hour_of_day',
 'cash_type',
 'money',
 'coffee_name',
 'Time_of_Day',
 'Weekday',
 'Month_name',
 'Weekdaysort',
 'Monthsort',
 'Date',
 'Time']