In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Melbourne_housing_FULL.csv")

In [3]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [4]:
df.shape

(34857, 21)

In [5]:
df.columns.to_list()

['Suburb',
 'Address',
 'Rooms',
 'Type',
 'Price',
 'Method',
 'SellerG',
 'Date',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [10]:
df[['Car', 'Bathroom', 'Rooms', 'Landsize']].describe().round()

           Car  Bathroom    Rooms  Landsize
count  26129.0   26631.0  34857.0   23047.0
mean       2.0       2.0      3.0     594.0
std        1.0       1.0      1.0    3399.0
min        0.0       0.0      1.0       0.0
25%        1.0       1.0      2.0     224.0
50%        2.0       2.0      3.0     521.0
75%        2.0       2.0      4.0     670.0
max       26.0      12.0     16.0  433014.0

In [17]:
df['YearBuilt'].value_counts().to_frame().reset_index()

     YearBuilt  count
0       1970.0   1490
1       1960.0   1260
2       1950.0   1089
3       1980.0    726
4       1900.0    606
..         ...    ...
155     1830.0      1
156     2106.0      1
157     1897.0      1
158     1876.0      1
159     1879.0      1

[160 rows x 2 columns]

In [20]:
df['Regionname'].value_counts().to_frame().reset_index()

                   Regionname  count
0       Southern Metropolitan  11836
1       Northern Metropolitan   9557
2        Western Metropolitan   6799
3        Eastern Metropolitan   4377
4  South-Eastern Metropolitan   1739
5            Eastern Victoria    228
6           Northern Victoria    203
7            Western Victoria    115

In [43]:
df['CouncilArea'].value_counts().reset_index()

                       CouncilArea  count
0          Boroondara City Council   3675
1             Darebin City Council   2851
2            Moreland City Council   2122
3           Glen Eira City Council   2006
4           Melbourne City Council   1952
5             Banyule City Council   1861
6       Moonee Valley City Council   1791
7             Bayside City Council   1764
8            Brimbank City Council   1593
9              Monash City Council   1466
10        Stonnington City Council   1460
11        Maribyrnong City Council   1451
12       Port Phillip City Council   1280
13               Hume City Council   1214
14              Yarra City Council   1186
15         Manningham City Council   1046
16        Hobsons Bay City Council    942
17           Kingston City Council    871
18         Whittlesea City Council    828
19            Wyndham City Council    624
20         Whitehorse City Council    618
21          Maroondah City Council    506
22               Knox City Council    371
23  Greater Dandenong City Council    314
24             Melton City Council    292
25          Frankston City Council    290
26              Casey City Council    176
27      Yarra Ranges Shire Council    102
28         Nillumbik Shire Council     88
29    Macedon Ranges Shire Council     46
30          Cardinia Shire Council     41
31          Mitchell Shire Council     20
32         Moorabool Shire Council      7

In [42]:
# Mean of rooms
df[['Rooms', 'Car']].mean()

Rooms    3.031012
Car      1.728845
dtype: float64

In [35]:
df['Rooms'].median()

np.float64(3.0)

In [45]:
df[['Regionname', 'Type']].value_counts().reset_index()

                    Regionname Type  count
0        Southern Metropolitan    h   6968
1        Northern Metropolitan    h   6489
2         Western Metropolitan    h   5199
3        Southern Metropolitan    u   3536
4         Eastern Metropolitan    h   3438
5        Northern Metropolitan    u   2033
6   South-Eastern Metropolitan    h   1356
7        Southern Metropolitan    t   1332
8        Northern Metropolitan    t   1035
9         Western Metropolitan    u    946
10        Western Metropolitan    t    654
11        Eastern Metropolitan    u    548
12        Eastern Metropolitan    t    391
13  South-Eastern Metropolitan    u    221
14            Eastern Victoria    h    216
15           Northern Victoria    h    199
16  South-Eastern Metropolitan    t    162
17            Western Victoria    h    113
18            Eastern Victoria    u      7
19            Eastern Victoria    t      5
20           Northern Victoria    u      3
21            Western Victoria    u      2
22           Northern Victoria    t      1

In [47]:
# Bivariate Analysis
df[['Type', 'Method']].value_counts().reset_index()

   Type Method  count
0     h      S  14047
1     u      S   3816
2     h     SP   3293
3     h     PI   3214
4     h     VB   1942
5     t      S   1881
6     u     SP   1292
7     u     PI   1031
8     h     SN   1015
9     u     VB    786
10    t     PI    605
11    t     SP    510
12    t     VB    380
13    u     SN    191
14    h     PN    182
15    h     SA    155
16    t     SN    111
17    h      W    104
18    u     PN     77
19    u      W     56
20    t     PN     49
21    u     SA     44
22    h     SS     28
23    t     SA     27
24    t      W     13
25    t     SS      4
26    u     SS      4

In [16]:
# How to handle NA values
# How to create a custom column based on value of other columns

In [ ]:
# NA Values
# Empty values, Null Values, NaN values
# 0 is not a an NA value

# How to identify NA values in dataset
# " ", NaN, null

In [ ]:
# How to handle NA or missing values?
# 1. Remove the row
# 2. Remove the column
# 3. Impute or fill the value with other values

In [ ]:
# If more than half of the data is missing in a column for all rows, then remove the column
# If there are very few rows with missing value in a column, then remove the row (bad choice)
# If a row contains multiple missing values in multiple columns, then remove the row (best choice)
# otherwise fill the data with mode or median or mean

In [ ]:
# Removing the column
# original df -> make another df
# remove the column in the original df itself

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [18]:
# Method 1-> make a copy
cleaned_df = df.drop(columns=['YearBuilt', 'BuildingArea'])

In [19]:
display(df.columns)
cleaned_df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount'],
      dtype='object')

In [20]:
# Method 2 -> Drop the column in original dataframe
# df = df.drop(columns=['YearBuilt', 'BuildingArea'])
df.drop(columns=['YearBuilt', 'BuildingArea'], inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  CouncilArea    34854 non-null  object
 15  Lattitude      26881 non-null  float64
 16  Longtitude     26881 non-null  float64
 17  Regionname     34854 non-null  object
 18  Propertycount  34854 non-null  float64
dtypes: float64(10), int64(1), object(8)
memory usage: 5.1+ MB

In [24]:
df['Distance'].isna()

0         True
1        False
2        False
3         True
4        False
         ...
34852    False
34853    False
34854    False
34855    False
34856    False
Name: Price, Length: 34857, dtype: bool

In [26]:
# Check which row has empty data in Distance column
df[df['Distance'].isna()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
29483,Fawkner Lot,1/3 Brian St,3,h,616000.0,SP,Brad,6/01/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Dropping row using index
df.drop(29483, inplace=True)

In [28]:
df[df['Distance'].isna()]

Empty DataFrame
Columns: [Suburb, Address, Rooms, Type, Price, Method, SellerG, Date, Distance, Postcode, Bedroom2, Bathroom, Car, Landsize, CouncilArea, Lattitude, Longtitude, Regionname, Propertycount]
Index: []

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34856 entries, 0 to 34856
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34856 non-null  object
 1   Address        34856 non-null  object
 2   Rooms          34856 non-null  int64
 3   Type           34856 non-null  object
 4   Price          27246 non-null  float64
 5   Method         34856 non-null  object
 6   SellerG        34856 non-null  object
 7   Date           34856 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  CouncilArea    34854 non-null  object
 15  Lattitude      26881 non-null  float64
 16  Longtitude     26881 non-null  float64
 17  Regionname     34854 non-null  object
 18  Propertycount  34854 non-null  float64
dtypes: float64(10), int64(1), object(8)
memory usage: 5.3+ MB

In [30]:
df[df['CouncilArea'].isna()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
18523,Footscray,2/16 Stafford St,2,u,710000.0,S,Jas,15/07/2017,5.1,3011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26888,Camberwell,2/3 Kingsley St,2,h,825000.0,VB,Jellis,11/11/2017,7.7,3124.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.drop([18523, 26888], inplace=True)

In [32]:
df[df['CouncilArea'].isna()]

Empty DataFrame
Columns: [Suburb, Address, Rooms, Type, Price, Method, SellerG, Date, Distance, Postcode, Bedroom2, Bathroom, Car, Landsize, CouncilArea, Lattitude, Longtitude, Regionname, Propertycount]
Index: []

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34854 entries, 0 to 34856
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34854 non-null  object
 1   Address        34854 non-null  object
 2   Rooms          34854 non-null  int64
 3   Type           34854 non-null  object
 4   Price          27244 non-null  float64
 5   Method         34854 non-null  object
 6   SellerG        34854 non-null  object
 7   Date           34854 non-null  object
 8   Distance       34854 non-null  float64
 9   Postcode       34854 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  CouncilArea    34854 non-null  object
 15  Lattitude      26881 non-null  float64
 16  Longtitude     26881 non-null  float64
 17  Regionname     34854 non-null  object
 18  Propertycount  34854 non-null  float64
dtypes: float64(10), int64(1), object(8)
memory usage: 5.3+ MB

In [41]:
series_1 = pd.Series([1, np.nan, 3])

In [39]:
series_1.isna()

0    False
1     True
2    False
dtype: bool

In [42]:
df[df['Car'].isna()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
15,Abbotsford,217 Langridge St,3,h,1000000.0,S,Jellis,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2,u,542000.0,S,Dingle,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2,u,760000.0,SP,Biggin,10/12/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10/12/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34840,Williamstown,3/2 Thompson St,2,u,520000.0,VB,Raine,24/02/2018,6.8,3016.0,NaN,NaN,NaN,NaN,Hobsons Bay City Council,NaN,NaN,Western Metropolitan,6380.0
34842,Williamstown,34 Twyford St,3,h,1400000.0,SP,Sweeney,24/02/2018,6.8,3016.0,3.0,2.0,NaN,325.0,Hobsons Bay City Council,-37.86871,144.90124,Western Metropolitan,6380.0
34844,Windsor,4/16 Lewisham Rd,1,u,440000.0,SP,Biggin,24/02/2018,4.6,3181.0,NaN,NaN,NaN,NaN,Port Phillip City Council,NaN,NaN,Southern Metropolitan,4380.0
34851,Yarraville,78 Bayview Rd,3,h,1101000.0,S,Jas,24/02/2018,6.3,3013.0,3.0,1.0,NaN,288.0,Maribyrnong City Council,-37.81095,144.88516,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0

In [43]:
filter = (
    df['Bedroom2'].isna() 
    & df['Bathroom'].isna() 
    & df['Car'].isna() 
    & df['Landsize'].isna() 
    & df['Lattitude'].isna() 
    & df['Longtitude'].isna()
)

In [46]:
df[filter]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
15,Abbotsford,217 Langridge St,3,h,1000000.0,S,Jellis,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2,u,542000.0,S,Dingle,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2,u,760000.0,SP,Biggin,10/12/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10/12/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34838,Williamstown,11/81 Melbourne Rd,2,u,450000.0,SP,Raine,24/02/2018,6.8,3016.0,NaN,NaN,NaN,NaN,Hobsons Bay City Council,NaN,NaN,Western Metropolitan,6380.0
34839,Williamstown,24/18 Station Rd,2,u,475000.0,SP,Greg,24/02/2018,6.8,3016.0,NaN,NaN,NaN,NaN,Hobsons Bay City Council,NaN,NaN,Western Metropolitan,6380.0
34840,Williamstown,3/2 Thompson St,2,u,520000.0,VB,Raine,24/02/2018,6.8,3016.0,NaN,NaN,NaN,NaN,Hobsons Bay City Council,NaN,NaN,Western Metropolitan,6380.0
34844,Windsor,4/16 Lewisham Rd,1,u,440000.0,SP,Biggin,24/02/2018,4.6,3181.0,NaN,NaN,NaN,NaN,Port Phillip City Council,NaN,NaN,Southern Metropolitan,4380.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0

In [47]:
indexes_to_drop = df[filter].index.to_list()
indexes_to_drop

[15,
 16,
 19,
 21,
 22,
 27,
 33,
 34,
 45,
 46,
 52,
 60,
 62,
 65,
 74,
 75,
 76,
 77,
 78,
 84,
 87,
 89,
 91,
 92,
 93,
 95,
 97,
 99,
 107,
 111,
 115,
 121,
 123,
 124,
 125,
 126,
 127,
 130,
 131,
 132,
 146,
 184,
 198,
 200,
 207,
 208,
 211,
 212,
 222,
 223,
 225,
 240,
 252,
 254,
 256,
 266,
 273,
 286,
 287,
 291,
 293,
 296,
 297,
 298,
 300,
 302,
 303,
 304,
 305,
 307,
 308,
 311,
 312,
 315,
 316,
 317,
 318,
 319,
 320,
 323,
 324,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 336,
 341,
 345,
 348,
 351,
 352,
 354,
 357,
 358,
 362,
 363,
 370,
 373,
 374,
 379,
 384,
 389,
 398,
 417,
 419,
 423,
 433,
 442,
 443,
 451,
 462,
 463,
 464,
 474,
 477,
 489,
 498,
 511,
 513,
 518,
 524,
 529,
 532,
 535,
 542,
 561,
 571,
 578,
 592,
 593,
 598,
 605,
 606,
 608,
 609,
 610,
 611,
 612,
 613,
 618,
 624,
 625,
 626,
 629,
 636,
 637,
 638,
 640,
 643,
 647,
 649,
 652,
 653,
 656,
 657,
 658,
 660,
 661,
 664,
 678,
 683,
 696,
 698,
 699,
 706,
 707,
 709,
 711,
 712,
 715,
 718,
 725,
 726,
 727,
 728,
 732,
 734,
 735,
 736,
 737,
 738,
 747,
 758,
 763,
 767,
 768,
 771,
 773,
 776,
 787,
 791,
 793,
 794,
 796,
 798,
 804,
 808,
 809,
 810,
 811,
 820,
 829,
 851,
 852,
 861,
 862,
 865,
 866,
 871,
 878,
 879,
 880,
 885,
 887,
 889,
 891,
 892,
 893,
 894,
 898,
 902,
 905,
 908,
 909,
 911,
 912,
 914,
 915,
 919,
 920,
 925,
 926,
 938,
 946,
 948,
 951,
 952,
 953,
 958,
 959,
 965,
 966,
 973,
 977,
 990,
 991,
 992,
 993,
 996,
 1000,
 1002,
 1014,
 1015,
 1023,
 1027,
 1036,
 1039,
 1047,
 1053,
 1062,
 1066,
 1071,
 1079,
 1084,
 1094,
 1102,
 1107,
 1109,
 1112,
 1115,
 1119,
 1124,
 1128,
 1130,
 1150,
 1164,
 1168,
 1169,
 1170,
 1172,
 1173,
 1174,
 1175,
 1177,
 1178,
 1189,
 1191,
 1192,
 1195,
 1203,
 1206,
 1212,
 1214,
 1220,
 1221,
 1222,
 1223,
 1225,
 1233,
 1236,
 1237,
 1243,
 1250,
 1252,
 1266,
 1267,
 1272,
 1274,
 1283,
 1284,
 1289,
 1295,
 1299,
 1305,
 1307,
 1308,
 1310,
 1317,
 1324,
 1325,
 1326,
 1327,
 1330,
 1331,
 1332,
 1334,
 1335,
 1339,
 1344,
 1350,
 1356,
 1358,
 1359,
 1363,
 1365,
 1367,
 1369,
 1371,
 1374,
 1379,
 1382,
 1383,
 1384,
 1393,
 1396,
 1408,
 1414,
 1415,
 1416,
 1417,
 1419,
 1428,
 1429,
 1431,
 1438,
 1440,
 1443,
 1445,
 1446,
 1447,
 1448,
 1450,
 1454,
 1459,
 1463,
 1464,
 1469,
 1475,
 1479,
 1483,
 1487,
 1493,
 1495,
 1496,
 1519,
 1524,
 1525,
 1531,
 1543,
 1551,
 1552,
 1554,
 1558,
 1562,
 1564,
 1574,
 1582,
 1587,
 1590,
 1600,
 1601,
 1606,
 1608,
 1610,
 1612,
 1614,
 1618,
 1625,
 1634,
 1637,
 1674,
 1675,
 1677,
 1696,
 1698,
 1699,
 1700,
 1706,
 1708,
 1710,
 1713,
 1715,
 1720,
 1723,
 1738,
 1747,
 1752,
 1762,
 1763,
 1764,
 1769,
 1779,
 1791,
 1807,
 1808,
 1812,
 1822,
 1826,
 1839,
 1842,
 1848,
 1849,
 1850,
 1854,
 1868,
 1870,
 1875,
 1879,
 1881,
 1882,
 1885,
 1886,
 1887,
 1893,
 1896,
 1902,
 1912,
 1913,
 1914,
 1916,
 1920,
 1924,
 1930,
 1939,
 1944,
 1949,
 1952,
 1955,
 1957,
 1958,
 1967,
 1968,
 1969,
 1970,
 1990,
 1994,
 1995,
 2000,
 2004,
 2024,
 2027,
 2030,
 2032,
 2034,
 2035,
 2036,
 2040,
 2041,
 2042,
 2048,
 2050,
 2053,
 2054,
 2061,
 2064,
 2065,
 2068,
 2070,
 2071,
 2072,
 2073,
 2075,
 2077,
 2083,
 2088,
 2100,
 2106,
 2107,
 2112,
 2116,
 2121,
 2123,
 2125,
 2131,
 2134,
 2143,
 2144,
 2145,
 2146,
 2152,
 2171,
 2176,
 2181,
 2183,
 2189,
 2198,
 2202,
 2236,
 2239,
 2263,
 2267,
 2269,
 2272,
 2298,
 2302,
 2303,
 2307,
 2310,
 2319,
 2320,
 2321,
 2325,
 2344,
 2348,
 2350,
 2354,
 2356,
 2362,
 2364,
 2369,
 2370,
 2372,
 2376,
 2391,
 2395,
 2396,
 2409,
 2410,
 2414,
 2415,
 2420,
 2423,
 2431,
 2436,
 2438,
 2452,
 2456,
 2457,
 2461,
 2464,
 2468,
 2470,
 2472,
 2477,
 2484,
 2486,
 2488,
 2490,
 2496,
 2498,
 2499,
 2500,
 2501,
 2506,
 2517,
 2521,
 2523,
 2524,
 2530,
 2532,
 2534,
 2535,
 2541,
 2542,
 2544,
 2546,
 2551,
 2562,
 2563,
 2568,
 2578,
 2579,
 2580,
 2581,
 2582,
 2584,
 2585,
 2589,
 2593,
 2594,
 2595,
 2596,
 2597,
 2599,
 2600,
 2601,
 2602,
 2603,
 2608,
 2609,
 2610,
 2617,
 2626,
 2627,
 2629,
 2630,
 2632,
 2634,
 2636,
 2637,
 2640,
 2642,
 2644,
 2647,
 2656,
 2657,
 2668,
 2669,
 2670,
 2671,
 2678,
 2679,
 2680,
 2683,
 2691,
 2692,
 2693,
 2700,
 2703,
 2705,
 2707,
 2712,
 2715,
 2717,
 2724,
 2728,
 2734,
 2736,
 2738,
 2739,
 2740,
 2741,
 2742,
 2743,
 2744,
 2745,
 2748,
 2749,
 2750,
 2751,
 2754,
 2758,
 2762,
 2765,
 2766,
 2767,
 2773,
 2784,
 2792,
 2796,
 2806,
 2807,
 2808,
 2809,
 2813,
 2815,
 2818,
 2819,
 2821,
 2822,
 2826,
 2851,
 2865,
 2869,
 2870,
 2871,
 2884,
 2912,
 2913,
 2926,
 2951,
 2952,
 2953,
 2954,
 2957,
 2962,
 2964,
 2968,
 2969,
 2973,
 2994,
 2995,
 3000,
 3003,
 3015,
 3024,
 3033,
 3036,
 3041,
 3044,
 3047,
 3048,
 3061,
 3074,
 3085,
 3086,
 3087,
 3093,
 3096,
 3098,
 3102,
 3113,
 3116,
 3122,
 3146,
 3154,
 3156,
 3157,
 3160,
 3161,
 3163,
 3166,
 3168,
 3169,
 3170,
 3175,
 3177,
 3179,
 3184,
 3185,
 3186,
 3188,
 3190,
 3191,
 3192,
 3196,
 3198,
 3199,
 3200,
 3201,
 3204,
 3205,
 3208,
 3212,
 3234,
 3244,
 3247,
 3259,
 3260,
 3261,
 3263,
 3272,
 3278,
 3281,
 3298,
 3315,
 3322,
 3327,
 3344,
 3354,
 3356,
 3369,
 3383,
 3389,
 3397,
 3415,
 3418,
 3456,
 3457,
 3458,
 3465,
 3467,
 3469,
 3471,
 3475,
 3477,
 3480,
 3481,
 3490,
 3492,
 3493,
 3494,
 3496,
 3497,
 3498,
 3499,
 3500,
 3504,
 3512,
 3519,
 3528,
 3549,
 3556,
 3575,
 3577,
 3589,
 3598,
 3599,
 3600,
 3601,
 3605,
 3607,
 3613,
 3614,
 3621,
 3624,
 3625,
 3630,
 3631,
 3637,
 3638,
 3645,
 3646,
 3647,
 3656,
 3658,
 3661,
 3664,
 3681,
 3686,
 3692,
 3706,
 3708,
 3709,
 3713,
 3715,
 3722,
 3738,
 3741,
 3744,
 3760,
 3783,
 3784,
 3789,
 3798,
 3837,
 3841,
 3845,
 3866,
 3871,
 3872,
 3893,
 3899,
 3904,
 3935,
 3938,
 3941,
 3943,
 3956,
 3972,
 3976,
 3977,
 3991,
 3992,
 3997,
 3998,
 4000,
 4021,
 4023,
 4039,
 4067,
 4071,
 4082,
 4083,
 4098,
 4102,
 4103,
 4109,
 4121,
 4123,
 4150,
 4157,
 4164,
 4173,
 4195,
 4208,
 4218,
 4225,
 4230,
 4235,
 4239,
 4257,
 4264,
 4278,
 4286,
 4299,
 4333,
 4338,
 4350,
 4353,
 4362,
 4371,
 4416,
 4444,
 4452,
 4453,
 4463,
 4469,
 4476,
 4491,
 4494,
 4501,
 4507,
 4508,
 4509,
 4510,
 4514,
 4515,
 4516,
 4521,
 4525,
 4537,
 4542,
 4550,
 4554,
 4555,
 4564,
 4570,
 4576,
 4577,
 4582,
 4593,
 4596,
 4597,
 4598,
 4607,
 4620,
 4623,
 4638,
 4641,
 4651,
 4660,
 4671,
 4675,
 4678,
 4688,
 4694,
 4697,
 4704,
 4706,
 4707,
 4708,
 4728,
 4729,
 4732,
 4738,
 4739,
 4741,
 4742,
 4743,
 4744,
 4749,
 4754,
 4755,
 4756,
 4757,
 4762,
 4763,
 4764,
 4771,
 4772,
 4773,
 4782,
 4785,
 4786,
 4787,
 4789,
 4790,
 4795,
 4796,
 4797,
 4801,
 4802,
 4803,
 4806,
 4807,
 4811,
 4812,
 4813,
 4818,
 4820,
 4824,
 4825,
 4827,
 4832,
 4836,
 ...]

In [48]:
df.drop(indexes_to_drop, inplace=True)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26907 entries, 0 to 34856
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         26907 non-null  object
 1   Address        26907 non-null  object
 2   Rooms          26907 non-null  int64
 3   Type           26907 non-null  object
 4   Price          21015 non-null  float64
 5   Method         26907 non-null  object
 6   SellerG        26907 non-null  object
 7   Date           26907 non-null  object
 8   Distance       26907 non-null  float64
 9   Postcode       26907 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  CouncilArea    26907 non-null  object
 15  Lattitude      26881 non-null  float64
 16  Longtitude     26881 non-null  float64
 17  Regionname     26907 non-null  object
 18  Propertycount  26907 non-null  float64
dtypes: float64(10), int64(1), object(8)
memory usage: 4.1+ MB

In [50]:
df[df['Car'].isna()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
26,Abbotsford,22 Park St,4,h,1985000.0,S,Biggin,12/11/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,-37.80840,144.99420,Northern Metropolitan,4019.0
47,Abbotsford,8b Park St,4,h,NaN,PI,Biggin,22/05/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,-37.80920,144.99410,Northern Metropolitan,4019.0
54,Abbotsford,17/1 Abbot St,3,t,962000.0,SP,Jellis,25/02/2017,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,-37.79720,144.99690,Northern Metropolitan,4019.0
64,Abbotsford,22 Park St,4,h,NaN,W,Biggin,30/07/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,-37.80840,144.99420,Northern Metropolitan,4019.0
220,Alphington,17 Lowther St,3,h,1361000.0,S,Collins,25/02/2017,6.4,3078.0,NaN,NaN,NaN,NaN,Darebin City Council,-37.77960,145.02850,Northern Metropolitan,2211.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34678,Rosanna,31 Kathleen St,4,h,1125000.0,PI,Nelson,24/02/2018,8.9,3084.0,NaN,NaN,NaN,NaN,Banyule City Council,-37.74572,145.07263,Eastern Metropolitan,3540.0
34702,South Melbourne,445 Clarendon St,3,h,1720000.0,S,Marshall,24/02/2018,1.9,3205.0,3.0,2.0,NaN,131.0,Port Phillip City Council,-37.83811,144.96320,Southern Metropolitan,5943.0
34788,Thornbury,41 Gooch St,2,h,1105000.0,S,Nelson,24/02/2018,7.0,3071.0,2.0,1.0,NaN,193.0,Darebin City Council,-37.75813,145.00362,Northern Metropolitan,8870.0
34842,Williamstown,34 Twyford St,3,h,1400000.0,SP,Sweeney,24/02/2018,6.8,3016.0,3.0,2.0,NaN,325.0,Hobsons Bay City Council,-37.86871,144.90124,Western Metropolitan,6380.0
34851,Yarraville,78 Bayview Rd,3,h,1101000.0,S,Jas,24/02/2018,6.3,3013.0,3.0,1.0,NaN,288.0,Maribyrnong City Council,-37.81095,144.88516,Western Metropolitan,6543.0

In [51]:
filter = df['Bedroom2'].isna() & df['Bathroom'].isna() & df['Car'].isna() & df['Landsize'].isna()

In [53]:
indexes_to_drop = df[filter].index.to_list()
len(indexes_to_drop)

260

In [54]:
df.drop(indexes_to_drop, inplace=True)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26647 entries, 0 to 34856
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         26647 non-null  object
 1   Address        26647 non-null  object
 2   Rooms          26647 non-null  int64
 3   Type           26647 non-null  object
 4   Price          20812 non-null  float64
 5   Method         26647 non-null  object
 6   SellerG        26647 non-null  object
 7   Date           26647 non-null  object
 8   Distance       26647 non-null  float64
 9   Postcode       26647 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  CouncilArea    26647 non-null  object
 15  Lattitude      26621 non-null  float64
 16  Longtitude     26621 non-null  float64
 17  Regionname     26647 non-null  object
 18  Propertycount  26647 non-null  float64
dtypes: float64(10), int64(1), object(8)
memory usage: 4.1+ MB

In [56]:
df[df['Car'].isna()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
19752,Armadale,9/61 Kooyong Rd,2,u,450000.0,VB,Jellis,3/09/2017,6.3,3143.0,2.0,1.0,NaN,NaN,Stonnington City Council,-37.85816,145.02001,Southern Metropolitan,4836.0
19759,Ascot Vale,132 The Parade,3,h,985000.0,S,Brad,3/09/2017,4.3,3032.0,3.0,1.0,NaN,245.0,Moonee Valley City Council,-37.77215,144.91144,Western Metropolitan,6567.0
19832,Brunswick East,18 Ethel St,2,h,1023000.0,S,Domain,3/09/2017,4.0,3057.0,2.0,1.0,NaN,154.0,Moreland City Council,-37.77221,144.97537,Northern Metropolitan,5533.0
19875,Clifton Hill,34 Fenwick St,3,h,1436000.0,S,Jellis,3/09/2017,3.6,3068.0,3.0,2.0,NaN,123.0,Yarra City Council,-37.78888,145.00036,Northern Metropolitan,2954.0
19903,Dandenong North,86 McFees Rd,3,h,585000.0,S,YPA,3/09/2017,24.7,3175.0,3.0,1.0,NaN,NaN,Greater Dandenong City Council,-37.96415,145.21441,South-Eastern Metropolitan,8322.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34667,Richmond,67B Lord St,2,u,NaN,S,Marshall,24/02/2018,2.4,3121.0,2.0,1.0,NaN,94.0,Yarra City Council,-37.82202,145.00483,Northern Metropolitan,14949.0
34702,South Melbourne,445 Clarendon St,3,h,1720000.0,S,Marshall,24/02/2018,1.9,3205.0,3.0,2.0,NaN,131.0,Port Phillip City Council,-37.83811,144.96320,Southern Metropolitan,5943.0
34788,Thornbury,41 Gooch St,2,h,1105000.0,S,Nelson,24/02/2018,7.0,3071.0,2.0,1.0,NaN,193.0,Darebin City Council,-37.75813,145.00362,Northern Metropolitan,8870.0
34842,Williamstown,34 Twyford St,3,h,1400000.0,SP,Sweeney,24/02/2018,6.8,3016.0,3.0,2.0,NaN,325.0,Hobsons Bay City Council,-37.86871,144.90124,Western Metropolitan,6380.0
34851,Yarraville,78 Bayview Rd,3,h,1101000.0,S,Jas,24/02/2018,6.3,3013.0,3.0,1.0,NaN,288.0,Maribyrnong City Council,-37.81095,144.88516,Western Metropolitan,6543.0

In [57]:
df['Car'].median()

np.float64(2.0)

In [58]:
df['Car'].mean()

np.float64(1.7288453442535114)

In [59]:
# Fill the value
df.loc[df['Car'].isna(), 'Car'] = df['Car'].median()

In [61]:
# Check again
df.loc[df['Car'].isna()]

Empty DataFrame
Columns: [Suburb, Address, Rooms, Type, Price, Method, SellerG, Date, Distance, Postcode, Bedroom2, Bathroom, Car, Landsize, CouncilArea, Lattitude, Longtitude, Regionname, Propertycount]
Index: []

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26647 entries, 0 to 34856
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         26647 non-null  object
 1   Address        26647 non-null  object
 2   Rooms          26647 non-null  int64
 3   Type           26647 non-null  object
 4   Price          20812 non-null  float64
 5   Method         26647 non-null  object
 6   SellerG        26647 non-null  object
 7   Date           26647 non-null  object
 8   Distance       26647 non-null  float64
 9   Postcode       26647 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26647 non-null  float64
 13  Landsize       23047 non-null  float64
 14  CouncilArea    26647 non-null  object
 15  Lattitude      26621 non-null  float64
 16  Longtitude     26621 non-null  float64
 17  Regionname     26647 non-null  object
 18  Propertycount  26647 non-null  float64
dtypes: float64(10), int64(1), object(8)
memory usage: 4.1+ MB

In [63]:
df.loc[df['Bedroom2'].isna()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
22695,Port Melbourne,31 Ross St,2,h,NaN,S,Marshall,23/09/2017,3.5,3207.0,NaN,NaN,2.0,128.0,Melbourne City Council,-37.83644,144.93489,Southern Metropolitan,8648.0
24807,Wollert,39 Birchmore Rd,4,h,335000.0,PI,hockingstuart,14/10/2017,25.5,3750.0,NaN,NaN,2.0,446.0,Whittlesea City Council,-37.61939,145.03831,Northern Metropolitan,2940.0
26177,Mentone,7/3 Childers St,1,u,385000.0,S,O'Brien,28/10/2017,20.0,3194.0,NaN,NaN,2.0,239.0,Kingston City Council,-37.98223,145.06781,South-Eastern Metropolitan,6162.0
27157,Mentone,2 Ovens Ct,5,h,1200000.0,PI,hockingstuart,11/11/2017,20.0,3194.0,NaN,NaN,2.0,594.0,Kingston City Council,-37.97700,145.07880,South-Eastern Metropolitan,6162.0
29197,Williamstown,87 Power St,3,h,1145000.0,S,Williams,25/11/2017,6.8,3016.0,NaN,NaN,2.0,549.0,Hobsons Bay City Council,-37.85250,144.88720,Western Metropolitan,6380.0
34114,Cheltenham,3/2 Bayliss St,2,t,682000.0,S,O'Brien,24/02/2018,17.9,3192.0,NaN,NaN,2.0,338.0,Bayside City Council,-37.97144,145.07268,Southern Metropolitan,9758.0
34149,Craigieburn,9 Braveheart Rd,3,h,438000.0,S,Barry,24/02/2018,20.6,3064.0,NaN,NaN,2.0,250.0,Hume City Council,-37.59889,144.89668,Northern Metropolitan,15510.0

In [68]:
df.loc[df['Bedroom2'].isna(), 'Bedroom2'] = np.round(df['Bedroom2'].median(), 0)
df.loc[df['Bathroom'].isna(), 'Bathroom'] = np.round(df['Bathroom'].median(), 0)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26647 entries, 0 to 34856
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         26647 non-null  object
 1   Address        26647 non-null  object
 2   Rooms          26647 non-null  int64
 3   Type           26647 non-null  object
 4   Price          20812 non-null  float64
 5   Method         26647 non-null  object
 6   SellerG        26647 non-null  object
 7   Date           26647 non-null  object
 8   Distance       26647 non-null  float64
 9   Postcode       26647 non-null  float64
 10  Bedroom2       26647 non-null  float64
 11  Bathroom       26647 non-null  float64
 12  Car            26647 non-null  float64
 13  Landsize       23047 non-null  float64
 14  CouncilArea    26647 non-null  object
 15  Lattitude      26621 non-null  float64
 16  Longtitude     26621 non-null  float64
 17  Regionname     26647 non-null  object
 18  Propertycount  26647 non-null  float64
dtypes: float64(10), int64(1), object(8)
memory usage: 4.1+ MB

In [71]:
df['Lattitude'].value_counts()

Lattitude
-37.83610    25
-37.84240    22
-37.79560    20
-37.81980    19
-37.84140    18
             ..
-37.91508     1
-37.86338     1
-37.89039     1
-37.81408     1
-37.81551     1
Name: count, Length: 13317, dtype: int64